@model IEnumerable<ehpad.ORM.Brand>

@{
    ViewData["Title"] = "Liste des marques";
}

<div class="second-main-bg">
    <h1>Liste des marques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="align-right">
                    <a asp-action="Create"><img src="~/image/ajouter.png" alt="ajouter" width="30" height="30" /></a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-right">
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/image/modifier.png" alt="modifier" width="30" height="30" /></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><img src="~/image/visible.png" alt="detail" width="30" height="30" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>