@model ehpad.ORM.People

@{
    ViewData["Title"] = "Filtre";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-2 menu2">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1 container-justify">
            <li class="nav-item filter-index-reminder">
                <a class="white" asp-area="" asp-controller="Filter" asp-action="Index">Retard d'un rappel</a>
            </li>
            <li class="nav-item filter-index">
                <a class="white" asp-area="" asp-controller="Filter" asp-action="IndexVaccineByPeople">Injections reçues</a>
            </li>
            <li class="nav-item filter-no-vaccine">
                <a class="white" disabled asp-area="" asp-controller="Filter" asp-action="IndexNoVaccine">Personnes non vaccinées</a>
            </li>
        </ul>
    </div>
</nav>


<div class="col-sm-12">
    <!--On affiche le premier filtre-->
    @if ((int)ViewData["Page"] == 1)
    {
        <h6>Liste des injections reçues par les résidents et par le personnel.</h6>
        <div class="row col-md-12">
            <div class="col-md-12">
                <form asp-action="Details">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 container-row-wrap">
                        <div class="form-group col-md-5">
                            <select asp-for="Id" class="form-control" asp-items="ViewBag.People"></select>
                        </div>
                        <div class="form-group offset-md-2 col-md-5">
                            <input type="submit" value="Rechercher" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @if (ViewData["Injection"] != null)
        {
            <div class="table-height">

                @await Html.PartialAsync("Details", (IEnumerable<ehpad.ORM.Injection>)ViewData["Injection"])

            </div>
        }
    }
    //On affiche le deuxieme filtre
    else if ((int)ViewData["Page"] == 2)
    {
        <h6>Liste des personnes en retard pour un rappel de vaccin.</h6>
        <div>

            @await Html.PartialAsync("Filtre2", (IEnumerable<ehpad.ORM.Injection>)ViewData["Injection"])

        </div>
    }
    //On affiche le troisieme filtre
    else if ((int)ViewData["Page"] == 3)
    {
        <h6>Liste des personnes qui ne sont pas vaccinées.</h6>

    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
