@model ehpad.ORM.Drug

@{
    ViewData["Title"] = "Filtre";
}


<h4>Lien vers les 4 filtres ici</h4>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Filter" asp-action="Index">1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Filter" asp-action="IndexReminderDelay">Retard d'un rappel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Filter" asp-action="IndexFiltre3">Personne non vaccinée</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Filter" asp-action="Index">4</a>
            </li>
        </ul>
    </div>
</nav>


<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Filtre3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Drug"></select>
            </div>
            <div class="form-group">
                <input name="date" value="true" type="checkbox" /> Date Actuelle
            </div>
            <div class="form-group">
                <input type="submit" value="Rechercher" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewData["People"] != null)
{
    <hr />

    <div>

        @await Html.PartialAsync("Filtre3", (IEnumerable<ehpad.ORM.People>)ViewData["People"])

    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
