/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar.menu {
    position: fixed;
    width: 100%;
    background-color: #0876C2;
    padding: 0;
}

.navbar.menu2 {
    position: relative;
    width: 100%;
    background-color: #0876C2;
    padding: 0;
}

.table-height {
    overflow: auto;
    height : 58vh;
}

.padding {
    padding-top: 75px;
    padding-bottom: 10px;
    min-height: 100vh;
}

.main_bg {
    border: 1px solid black;
    background-color: #F5F5DC;
    min-height: 86vh;
    box-shadow: 3px 2px 6px 3px #282828;
    border-radius: 5px;
    width: 100%;
}

.second-main-bg {
    padding: 5px 15px;
}

a.navbar-brand.white {
    color: black;
}

li.nav-item a.white {
    color: black;
    display: block;
    padding: 1rem 1rem;
}

a.navbar-brand.white:hover, li.nav-item a.white:hover {
    color: white;
}

li.nav-item a.white:link {
     text-decoration: none;
}


.navbar-nav > .active > a {
    background-color: #0567AB;
    color: white !important;
}

tbody > tr:nth-child(odd) {
    background-color: #B3C0F2;
}
tbody > tr:hover {
    background-color: #949FCB;
}

.align-right {
    text-align: right;
}

.container-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.container-justify {
    display: flex;
    justify-content: space-around;
}

.btn-default {
    border: 1px solid black;
    width: 100%;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    padding: 0px 5px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
